/* Home.module.css */
.bg-image {
    background-image: url('/minetraxbackground.png'); /* Replace 'background.jpg' with your image path */
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: +900px +95px;   
    position: relative;
    z-index: 0;
    /* Add any other styles you want for the background here */
  }
  .bg-image2 {
    background-image: url('/BackgroundImage.jpeg'); /* Replace 'background.jpg' with your image path */
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: +900px +95px;   
    position: relative;
    z-index: 0;
    /* Add any other styles you want for the background here */

  }