/* Home.module.css */

.bg-image {
  background-image: url('/minetraxbackground.png');
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 70% 30%;
  background-attachment: fixed;
  position: relative;
}

.bg-image2 {
  background-image: url('/BackgroundImage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.bg-image3 {
  background-image: url('/giphy.gif');
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 18%;
  left: 10%;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.bg-image4 {
  background-image: url('/giphy.gif');
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 18%;
  left: -10%;
  width: 100%;
  height: 100%;
  z-index: -100;
}


/* Home.module.css */
.grayBar {
  display: flex;
  align-items: center;
  background-color: #000000; /* Set your desired background color */
  padding: .5%;
}

.lowerBar {
  /* Add styles for the lower bar as needed */
  background: linear-gradient(55deg, #090909, #00ffb3); /* Set your desired background color */
  padding: .8%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 5%; /* Adjust the width of your logo */
  height: auto;
  margin-right: 30%; /* Adjust the margin as needed */
}

.welcomeText {
  color: #00ffb3; /* Set the color for the welcome text */
  font-size: 100%; /* Adjust the font size as needed */
  margin-right: 1.5%; 
  font-family: 'Playpen Sans', sans-serif;
}

.signOutButton {
  color: #00ffb3; /* Set the color for the sign-out button text */
  margin-left: 23%;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 130%;
}

.logoText {
  font-size: 200%; /* Adjust the font size as needed */
  color: #00ffb3;
  font-family: 'Anton', sans-serif;
}

.searchButton{
  color:#00ffb3;
  margin-left: 3px; /* Adjust the value as needed */
}